// Import styles
@import "~@coreui/coreui/scss/coreui.scss";

// Temp fix for reactstrap
@import '~@coreui/coreui/scss/_dropdown-menu-right.scss';
.icon {
  font-size: 20px!important;
  span {
    font-size: 13px!important;
  }
}
.bg-image-none {
  background-image:none!important;
  div {
    background-image:none!important;

  }
}
.dropdown-container {
  display: none;
  //background-color: #262626;
  padding-left: 8px;
}
.root {
  background: #e3e8ee;
  min-height: 100vh;
}
.dropdown-btn {
  width: 100%;
  padding: 10px;
  border: none;
  font-size: 15px;
  //background: #fff;
  text-align: inherit;
  cursor: pointer;
}
.content {
  flex-grow: 1;
  //padding: theme.spacing(3); spacing === 8px;
  padding: 24px;
  margin-top: 70px;
  background: #e3e8ee;
}
.appBar {
  //z-index: 99;
  color: #0f0f0f!important;
  background: #e3e8ee!important;
  box-shadow: none!important;
  transition-duration:  5s;
  transition-timing-function: ease;
}
.appBarShift {
  margin-left: 24px;
  width: calc(100% - 240px);
  transition-duration:  5s;
  transition-timing-function: ease;
}
.menuButton {
  margin-right: 36px;
}
.hide {
  display: none;
}
.drawer {
  background: #e3e8ee;
  width: 240px;
  flex-shrink: 0;
  white-space: nowrap;
  z-index: 99;
  border: none;
  //top: 65px;
  left: 0;
  .MuiDrawer-paper {
    background: #e3e8ee;
    padding-top: 70px;
    width: 240px;
    border: none!important;
  }
}
.drawerOpen {
  position: relative;
  //top: 65px;
  left: auto;
  right: 0!important;
  width: 240px;
}
// .drawerClose {
  //width: 57px;
  //overflow: hidden;
  //-webkit-transition: width 3s ease-in-out;
  //-moz-transition: width 3s ease-in-out;
  //-o-transition: width 3s ease-in-out;
  //transition: width 3s ease-in-out;
  //transition-timing-function: ease-in;
// }
.toolbar {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 8px;
}
