.text {
  margin: 20px 0 30px;
  font-size: 16px;
}
.description {
  color: #a5a5a5!important;
  text-align: justify;
}
.title {
  color: #d7d7d7;
  margin-bottom: 10px;
}
.logo-title {
  padding-left: 50px;
}
.footer-content {
  padding-right: 20px;
  margin: 20px 0;
  vertical-align: top;
  width: 100%;
  .header {
    font-size: 20px;
    color: #fff
  }
  .link {
    color: #a5a5a5;
    display: block;
    //text-align: center;
    padding: 4px 0;
    -webkit-transition: color .6s;
    transition: color .6s;
  }
  .link:hover {
    color: #04cbc5!important;
  }
}
@media only screen and (max-width: 768px) {
  .logo-title {
    padding-left: 0;
  }
  .footer-content {
    text-align: center;

  }
}
.footer-link {
  padding: 20px 10px;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-color .5s;
  transition: border-color .5s;
}
.footer-link:hover {
  color: #04cbc5!important;
  border-color: #04cbc5!important;
}
.footer-menu {
  margin: 0 0 20px;
  border-bottom: .5px solid #464646;
}
.footer-image {
  margin-bottom: -30px;
  width: 100% !important;
  text-align: center;
  height: 60px;
  .img-sub {
    display: inline-flex;
    position: relative;
    height: 100%;
  }
}
.footer-container {
  padding-top: 80px!important;
}

.link:hover {
  color: #04cbc5!important;
}
.social-net {
  padding: 12px;
}
.span-padding {
  padding: 0 10px
}
.social-net-container {
  padding-bottom: 50px;
}
