.slider {
  .aoTUt {
    margin-right: 0;
  }
}
.react-multiple-carousel__arrow--right {
  right: calc(-0.1% + 1px) !important;
  background: #026764!important;
  z-index: 1!important;
}
.react-multiple-carousel__arrow--left {
  left: calc(-0.1% + 1px)!important;
  background: #026764!important;
  z-index: 1!important;
}
.slider-next-step {
  width: 50px;
  text-align: center;
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: center;
  background: #e3e3e3;
  border-radius: 50%;
  padding: 5px;
}
.gwZiig {
  padding-bottom: 20px;
}
